.wrap{
   
    margin: 0 auto;
}

.title{
    display: flex;
    justify-content:right;
    background-color: #f6f6f8;
    padding-right: 20%;
    position: relative;
    padding-top: 10px;
}

.fb,
.twitter{
    margin-right: 5px;
}

.boder{
    height: 15px;
    position: absolute top;
    border: 1px solid #000;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
}
.title p a{
    text-decoration: none;
    color: #1DA1F2;  
}
.title p a:hover{
    border-bottom: 2px solid #1DA1F2;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
}
.header img{
    margin-left: 20px;
}
.header ul{
    display: flex;
    padding-top: 20px;
}
.header ul li{
   margin-left: 50px;
}
.header ul li a{
    text-decoration: none;
    color: #000
}
.header ul li a:hover{
    border-bottom: 2px solid #1DA1F2;
}
.main img{
    width: 100%;
    position: relative;
}
.main-h2{
    position: absolute;
    top: 40%;
    color: aliceblue;
    font-size: 40px;
    padding-left: 10%;
    line-height: 1.6;
    width:100%;
    background: rgba(0,0,0,0.2);
}
.menu h2{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}
.menu ul{  
    display: flex;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 20px;
    width: 100%;
}
.menu  ul li{
    width: 430px;
    box-shadow: 3px 3px 10px gray  ;
    margin-right: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.menu  ul li p{
   padding-left: 10px;
   padding-right: 10px;
}

.menu p{
    line-height: 1.6;
}